
/* Fuente logo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* Paleta de colores */
:root{
    --main-turquesaMuyOscuro:#0d1d24;
    --main-turquesaOscuro:#2B5D71;
    --main-salmonClaro:#EECEA2;
    --main-celeste:#92D1D6;
    --main-celesteOscuro:#72A9B4;
    /* Nueva */
    --main-marronOscuro:rgb(52, 47, 39);
    --main-grisMarron:rgb(173, 176, 177);
    --main-naranjaApagado:rgb(165, 120, 72);
    --main-verde:rgb(119, 147, 102);
}


/* resets */
*{
    margin:0;
    padding: 0;
}

body{
    background-color: var(--main-marronOscuro);
    margin:0;
    padding: 0;
}

/* header */
header{
    background-color: var(--main-marronOscuro);
}

h1{
    font-family: 'Nunito', sans-serif;
    position:absolute;
}

.portada{
    height: 575px;
    max-width: 100%;
    filter:saturate(100%);
    background-color: var(--main-naranjaApagado);
    
}

header img{
    position:relative;
    z-index: 1;
}

header ul li{
    
    display:inline;
}

nav{
    background-color: var(--main-marronOscuro);
    z-index: 1000;
    padding:2%;
    color:var(--main-salmonClaro);
}
li{
    padding:2%;
}

.marcaPortada{
    position:relative;
    display:inline-block;
    text-align:right;
}

.marca h1 .art{
    background-color: var(--main-marronOscuro);
    padding: 2%;
}
.marca .art{
    position:absolute;
    top:85%;
    right:10px;
    z-index: 5;
    color:var(--main-turquesaMuyOscuro);
    text-shadow: 2px 2px var(--main-salmonClaro);
    font-family: 'Lobster', cursive;
}

.marca h1{
    position:absolute;
    top:70%;
    right:10px;
    z-index: 5;
    color:var(--main-turquesaMuyOscuro);
    text-shadow: 2px 2px var(--main-salmonClaro);
    font-family: 'Lobster', cursive;
}

section{
    background-color: rgb(26, 23, 19);
    padding:5%;
    margin: 10% 5% 10% 5%;
    border-radius: 3px;
    color:rgb(97, 116, 85);
}

section h3{
    padding-bottom: 3%;
    font-family: 'Nunito', sans-serif;
}



section img{
    border-radius: 3px;
    margin:4% 0%;
}

section h4{
    padding-bottom: 3%;
    font-family: 'Nunito', sans-serif;
}

.contenedor{
    display: inline-block;
    position: relative;
    text-align: center;

}

.contenedor h3{
    position:absolute;
    bottom:7%;
    right: 20%;
    left:20%;
    background-color: rgba(119, 147, 102, 0.733);
    border-radius: 3px;
    padding:2%;
    color:rgb(88, 73, 53);
}

.contenedor img{
    max-width: 95%;
    box-shadow:3px 3px 5px 1px rgba(238, 206, 162, 0.733) ;
}










