
form.p-optin {
    font-size: 14px;
}

form.p-optin {
    margin-top: 50px;
}

div.p-body {
    background-color: #fc9fbe;
}

.p-optin div.p-header,
.p-optin .p-body button,
button.p-open {
    background: #fc9fbe;
    color: #ffffff;
}

.p-optin .p-body button:hover,
button.p-open:hover{
    background:  #fc9fbe;
    opacity: 0.8;
}

.p-optin div.p-body p,
.p-optin div.p-field label span,
.p-optin .p-body .p-success {
    color: #696969;
}
