@charset "UTF-8";
/**
 * >> TABLE OF CONTENTS 
 * 
 * 1. Message Notices
 * 2. Loop Product
 * 3. Single Product
 * 4. Quickview Product
 * 5. My Account
 * 6. Cart
 * 7. Checkout
 * 8. Responsive Shop
 * 
 */
/* --[ Slick Slider ]--------------------------------------*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  display: block;
  position: absolute;
  z-index: 190;
  top: 50%;
  color: #afafaf;
  opacity: 0;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.slick-prev i, .slick-next i {
  width: 40px;
  text-align: center;
  vertical-align: top;
}
.slick-prev:not(.slick-disabled):hover, .slick-next:not(.slick-disabled):hover {
  color: #00bcd4;
}

.slick-next {
  right: -10px;
}

.slick-prev {
  left: -10px;
}

.slick-slider:hover .slick-next {
  right: 3%;
  opacity: 1;
}
.slick-slider:hover .slick-prev {
  left: 3%;
  opacity: 1;
}
.slick-slider:hover .slick-next.slick-disabled, .slick-slider:hover .slick-prev.slick-disabled {
  opacity: .5;
  cursor: default;
  color: #afafaf;
}

#slick-carousel.slick-slider:hover .slick-next {
  right: 0;
}
#slick-carousel.slick-slider:hover .slick-prev {
  left: 0;
}

#product-thumbnails-slider .item-thumbnail-gallery {
  margin-bottom: 15px;
  outline: none;
}
#product-thumbnails-slider img {
  height: auto;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#product-thumbnails-slider .slick-current img {
  opacity: 1;
}

/* --[ EasyZoom ]--------------------------------------*/
.easyzoom {
  position: relative;
  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
.easyzoom-flyout:hover {
  opacity: 1;
  cursor: crosshair;
}

.easyzoom-flyout img {
  max-width: none !important;
  width: auto !important;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

/*--------------------------------------------------------------
1. Message Notices
--------------------------------------------------------------*/
/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  position: relative;
  margin: 0 0 20px;
  padding: 20px 20px 20px 40px;
  overflow: hidden;
  zoom: 1;
  clear: left;
  font-weight: 400;
}
.single-product .woocommerce-message, .single-product
.woocommerce-error, .single-product
.woocommerce-info {
  margin: 20px 0 0;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
  margin: 0;
  margin-top: -10px;
  margin-bottom: -13px;
}
@media only screen and (max-width: 479px) {
  .woocommerce-message .button,
  .woocommerce-error .button,
  .woocommerce-info .button {
    display: none;
  }
}

.woocommerce-message {
  border: 1px solid #eee;
  border-left-color: #00bcd4;
  border-left-width: 2px;
}
.woocommerce-message:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: inline-block;
  position: absolute;
  color: #00bcd4;
  left: 20px;
}

.woocommerce-info {
  position: relative;
  border: 1px solid #eee;
}
.woocommerce-info:before {
  font-family: 'FontAwesome';
  content: "\f127";
  display: inline-block;
  position: absolute;
  left: 20px;
}

.woocommerce-error {
  border: 1px solid #eee;
  border-left-color: #c13d30;
  border-left-width: 2px;
}
.woocommerce-error:before {
  font-family: 'FontAwesome';
  content: "\f071";
  display: inline-block;
  position: absolute;
  left: 20px;
  color: #c13d30;
}

ul.woocommerce-error li {
  margin-bottom: 0;
}

.woocommerce-breadcrumb {
  font-size: 12px;
  color: #777;
}
.woocommerce-breadcrumb .delimiter {
  padding: 0 5px;
  color: #cccccc;
}
.woocommerce-breadcrumb a {
  color: #555;
}
.woocommerce-breadcrumb a:hover {
  color: #00bcd4;
}
#page-title.page-title-center .woocommerce-breadcrumb, .single-product-bg .woocommerce-breadcrumb {
  margin-top: 20px;
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  background-color: #00bcd4;
  color: #fff;
  z-index: 999;
}

.wc-counter {
  font-size: 11px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #EEE;
  border-radius: 50%;
}

#top-cart .cart-counter {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  top: -7px;
  left: auto;
  right: -14px;
  color: #fff;
  background-color: #00bcd4;
}

/*--------------------------------------------------------------
2. Loop Product
--------------------------------------------------------------*/
.products {
  position: relative;
}
.products .product {
  margin-bottom: 20px;
}
.products .product.first {
  clear: left;
}
.products .product.last {
  clear: right;
}

.product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/* Shop - 3 Columns
-----------------------------------------------------------------*/
/* Shop - 3 Columns - Sidebar
-----------------------------------------------------------------*/
/* Shop - 2 Columns
-----------------------------------------------------------------*/
/* Shop - 2 Columns - Sidebar
-----------------------------------------------------------------*/
.product-image a,
.product-image .item-img,
.product-image .slide .item-img {
  display: block;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-image .item-img {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.product-image .item-img:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.product-image:hover .item-img:nth-of-type(2) {
  opacity: 1;
  z-index: 2;
}
.product-image .item-img .unveil-image {
  opacity: 0;
}

.product-desc {
  padding: 20px 0;
  font-size: 14px;
}

.product-title {
  margin-bottom: 10px;
}
.product-title h3 {
  margin: 0;
  font-size: 18px;
}

.product-title h3 {
  color: #333;
}
.product-desc:hover .product-title h3 {
  color: #00bcd4;
}

.product-rating {
  margin-bottom: 4px;
}

.product-desc .product-price, .price {
  font-size: 14px;
  color: #444;
  margin-bottom: 4px;
}
.product-desc .product-price del, .price del {
  font-size: 90%;
  color: #888;
}
.product-desc .product-price ins, .price ins {
  text-decoration: none;
  background: none;
  color: #00bcd4;
}

/**	Products Style 1 */
.products-style-1 .product-title {
  max-width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products-style-1 .product-desc {
  position: relative;
}
.products-style-1 .item-quickview, .products-style-1 .item-wishlist, .products-style-1 .yith-wcwl-add-to-wishlist {
  position: absolute;
}
.products-style-1 .item-quickview {
  border-radius: 50% !important;
  width: 34px;
  height: 34px;
  background-color: rgba(174, 174, 174, 0.4);
  text-align: center;
  color: #fff;
  z-index: 6;
  opacity: 0;
}
.products-style-1 .item-quickview:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px 0 rgba(76, 76, 75, 0.1);
}
.products-style-1 .item-quickview i {
  line-height: 34px;
  font-size: 14px;
}
.products-style-1 .product-desc .yith-wcwl-add-button > a i {
  margin: 0;
}
.products-style-1 .product-desc .yith-wcwl-add-to-wishlist {
  margin: 0;
  top: 23px;
  right: 0;
  font-size: 16px;
}
.products-style-1 .product-desc .yith-wcwl-wishlistaddedbrowse {
  animation: bounceIn 1s;
}
.products-style-1 .product-overlay {
  width: 100%;
}
.products-style-1 .product-overlay .item-quickview {
  bottom: 10px;
  right: 10px;
}
.products-style-1 body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay, .products-style-1 body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay .yith-wcwl-add-to-wishlist {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.products-style-1 body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay a, .products-style-1 body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay .yith-wcwl-add-to-wishlist a {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.products-style-1 .product:hover .product-overlay, .products-style-1 .product:hover a {
  opacity: 1;
}

/**  Products Style 2 */
.products-style-2 .product-desc {
  text-align: center;
}
.products-style-2 .yith-wcwl-add-to-wishlist {
  margin: 0;
}
.products-style-2 .yith-wcwl-add-button a.add_to_wishlist {
  border-radius: inherit;
}
.products-style-2 .product-overlay {
  position: absolute;
  height: 44px;
  line-height: 44px;
  top: auto;
  bottom: -44px;
  left: 22px;
  right: 22px;
  text-align: center;
  z-index: 6;
}
.products-style-2 .product-overlay a {
  display: block;
  float: left;
  width: 50%;
  font-size: 13px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.products-style-2 .product-overlay a.item-quick-view {
  border-right: 0;
}
.products-style-2 .product-overlay a i {
  position: relative;
  top: 1px;
  font-size: 16px;
  margin-right: 3px;
}
.products-style-2 .product-overlay a:hover {
  background-color: #f5f5f5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
body .products-style-2:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay {
  -webkit-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out;
}
body .products-style-2:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay a {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.products-style-2 .product:hover .product-overlay {
  bottom: 0;
}
.products-style-2 .product .star-rating {
  margin: auto;
}

@media only screen and (max-width: 991px) {
  .item-quickview {
    display: none !important;
  }
}
.onsale {
  background-color: #00bcd4;
  color: #FFF;
}

.onsale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 150;
}
.onsale.out-of-stock {
  background-color: #777;
}

/** 
 * Star Rating
 */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 14px;
  font-size: 13px;
  width: 4.7em;
  font-family: "FontAwesome";
}
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  color: #ffc000;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 14px;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #ffc000;
}

.le-product-filter {
  margin-bottom: 40px;
}

.woocommerce-result-count {
  line-height: 40px;
}

.woocommerce-ordering {
  float: right;
}
.woocommerce-ordering .orderby {
  width: auto;
}

@media only screen and (max-width: 767px) {
  .woocommerce-result-count,
  .woocommerce-ordering,
  .woocommerce-ordering .orderby {
    width: 100%;
  }

  .woocommerce-result-count,
  .woocommerce-ordering {
    float: none;
    text-align: center;
  }
}
.woocommerce-pagination {
  text-align: center;
  clear: both;
}
.woocommerce-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.woocommerce-pagination ul li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
.woocommerce.shop-navigation-infinite .woocommerce-pagination li .page-numbers {
  display: none;
}
.woocommerce.shop-navigation-infinite .woocommerce-pagination li .next {
  display: inline-block;
  position: relative;
}

.woocommerce.shop-navigation-standard .woocommerce-pagination li {
  overflow: inherit;
}
.woocommerce.shop-navigation-standard .woocommerce-pagination li a,
.woocommerce.shop-navigation-standard .woocommerce-pagination li span {
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.woocommerce.shop-navigation-standard .woocommerce-pagination li a:hover,
.woocommerce.shop-navigation-standard .woocommerce-pagination li span:hover,
.woocommerce.shop-navigation-standard .woocommerce-pagination li a:focus,
.woocommerce.shop-navigation-standard .woocommerce-pagination li span:focus {
  z-index: 2;
  background-color: #eee;
  border-color: #ddd;
}
.woocommerce.shop-navigation-standard .woocommerce-pagination .current {
  color: #FFF;
  background-color: #00bcd4;
  border-color: #00bcd4;
}
.woocommerce.shop-navigation-standard .woocommerce-pagination li:first-child a,
.woocommerce.shop-navigation-standard .woocommerce-pagination li:first-child span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.woocommerce.shop-navigation-standard .woocommerce-pagination li:last-child a,
.woocommerce.shop-navigation-standard .woocommerce-pagination li:last-child span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.product_list_widget {
  list-style: none;
  margin: 0;
}
.product_list_widget li {
  overflow: hidden;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #E5E5E5;
  position: relative;
}
.product_list_widget li a {
  display: block;
}
.product_list_widget li img {
  float: left;
  width: 60px;
  margin-right: 15px;
}
.product_list_widget li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.product_list_widget a {
  color: #333;
}
.product_list_widget a:hover {
  color: #00bcd4;
}
.product_list_widget .product-title {
  font-weight: 600;
}
.product_list_widget dl.variation {
  display: none;
}
.product_list_widget .amount {
  color: #00bcd4;
  font-weight: 600;
  font-size: 13px;
}
.product_list_widget del .amount {
  font-size: 90%;
  color: #888;
}
.product_list_widget ins {
  background: none;
}

.widget_product_categories ul, .widget_layered_nav ul {
  margin: 0;
  list-style: none;
}
.widget_product_categories ul li a, .widget_layered_nav ul li a {
  color: #444;
  display: block;
  padding: 4px 0 4px 12px;
  background: url("../images/icons/widget-link.png") left center no-repeat;
}
.widget_product_categories ul li span.count, .widget_product_categories ul li small.count, .widget_layered_nav ul li span.count, .widget_layered_nav ul li small.count {
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  float: right;
  clear: right;
}

.widget_price_filter .ui-state-default, .widget_price_filter .ui-widget-content .ui-state-default, .widget_price_filter .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}
.widget_price_filter .ui-state-hover, .widget_price_filter .ui-widget-content .ui-state-hover, .widget_price_filter .ui-widget-header .ui-state-hover, .widget_price_filter .ui-state-focus, .widget_price_filter .ui-widget-content .ui-state-focus, .widget_price_filter .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada;
  font-weight: normal;
  color: #212121;
}
.widget_price_filter .ui-state-active, .widget_price_filter .ui-widget-content .ui-state-active, .widget_price_filter .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  font-weight: normal;
  color: #212121;
}
.widget_price_filter .ui-corner-all {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.widget_price_filter .price_slider_wrapper .ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}
.widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.widget_price_filter .price_slider {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
.widget_price_filter .ui-widget-header {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.widget_price_filter .ui-slider-handle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}

.site-footer .footer-widgets-wrap .product_list_widget .amount {
  color: #999;
}

/*--------------------------------------------------------------
3. Single Product
--------------------------------------------------------------*/
.col-row-1170 {
  margin: 0 auto;
  max-width: 1170px;
}

.col-row-980 {
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .col-row-980 {
    max-width: 980px;
  }
}

.woocommerce.single-product #content .content-wrap {
  padding-top: 0;
}
.woocommerce .product-showcase-container {
  padding: 40px 0;
}
.woocommerce .entry-summary {
  margin-top: 0;
}
.woocommerce.device-lg .single-product-style-2 .entry-summary {
  padding: 0 0 0 40px;
  padding-top: 80px;
}
.woocommerce .single-product-style-2 .product-image-col .images .easyzoom:not(:first-child) {
  margin-top: 40px;
  position: relative;
}
.woocommerce.single-product .entry-summary .price, .woocommerce .cd-item-info .price {
  font-size: 24px;
  color: #00bcd4;
  margin-bottom: 1em;
  line-height: 1.5em !important;
}
.woocommerce .product_title {
  font-size: 24px;
  margin-bottom: 8px;
}
.woocommerce .woocommerce-product-rating {
  margin-bottom: 7px;
}
.woocommerce .woocommerce-product-rating .star-rating {
  display: inline-block;
  vertical-align: middle;
}
.woocommerce .woocommerce-product-rating a {
  color: #444;
  font-size: 12px;
}
.woocommerce .quantity {
  float: left;
  margin-right: 30px;
}
.woocommerce .quantity .qty {
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
  border: 0;
  border: 1px solid #DDD;
  background-color: #EEE;
  text-align: center;
  margin-bottom: 0;
}
.woocommerce .quantity .qty:focus {
  box-shadow: none;
  outline: 0;
}
.woocommerce .single_add_to_cart_button {
  margin: 0;
}

p.stars:after {
  content: "";
  display: block;
  clear: both;
}
p.stars a {
  width: 18.85%;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  overflow: hidden;
  text-indent: -10px;
}
p.stars a.star-1:hover:after,
p.stars a.star-2:hover:after,
p.stars a.star-3:hover:after,
p.stars a.star-4:hover:after,
p.stars a.star-5:hover:after,
p.stars a.star-1.active:after,
p.stars a.star-2.active:after,
p.stars a.star-3.active:after,
p.stars a.star-4.active:after,
p.stars a.star-5.active:after {
  color: #ffc000;
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  content: "\f005";
  position: absolute;
  color: #ebebeb;
  font-weight: normal;
  text-indent: 10px;
}
p.stars a.star-1:after {
  content: "\f005";
}
p.stars a.star-2:after {
  content: "\f005\f005";
}
p.stars a.star-3:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}

/**		
 * Product Variable
 */
.single-product-style-1 .variations td.value, .single-product-style-2 .variations td.value {
  display: block;
}

.woocommerce-variation-price {
  margin-bottom: 10px;
}

.woocommerce .tawcvs-swatches {
  padding: 0;
}

.reset_variations {
  margin-top: 10px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #EEE;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  color: #555;
}

.reset_variations::before {
  font-size: 12px;
  display: inline-block;
  font-family: "FontAwesome";
  content: "";
}

table.variations > tbody > tr > td {
  padding: 0;
  border: none;
}

.product-summary-col .si-share {
  margin-top: 20px;
}

/**		
 * Product Meta
 */
.product_meta {
  text-align: center;
  padding: 20px 0;
}
.product_meta .sku_wrapper, .product_meta .posted_in, .product_meta .tagged_as {
  margin: 0 15px;
}

/**	
 * Tabs
 */
.woocommerce-tabs {
  border-bottom: 1px solid #ddd;
}
.woocommerce-tabs .tabs {
  padding-top: 11px;
  text-align: center;
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .woocommerce-tabs .tabs {
    text-align: left;
  }
}
.woocommerce-tabs .tabs li {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0 15px;
}
.woocommerce-tabs .tabs li a {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  line-height: 38px;
  display: inline-block;
  font-family: "Open Sans", serif;
  letter-spacing: 1px;
  font-size: 14px;
  border-top: 2px solid transparent;
  color: #555;
}
@media only screen and (max-width: 767px) {
  .woocommerce-tabs .tabs li {
    padding: 0;
  }
  .woocommerce-tabs .tabs li, .woocommerce-tabs .tabs li a {
    display: block;
    margin: 0;
  }
}
.woocommerce-tabs .tabs li.active a {
  color: #00bcd4;
}
.woocommerce-tabs .tabs .wc-counter {
  display: inline-block;
}
.woocommerce-tabs .tabs li.active .wc-counter {
  background-color: #00bcd4;
  color: #FFF;
}
.woocommerce-tabs .panel {
  padding: 20px 0;
  border: none;
  margin: 0;
  box-shadow: none;
  background: transparent;
}
.woocommerce-tabs .panel #comments {
  margin: 0;
  padding: 0;
  border: 0;
}
.woocommerce-tabs .additional-information-content, .woocommerce-tabs #reviews {
  max-width: 750px;
  margin: 0 auto;
}
.woocommerce-tabs .shop_attributes td, .woocommerce-tabs .shop_attributes td p {
  line-height: inherit !important;
  margin: 0;
}
.woocommerce-tabs .commentlist {
  list-style-type: none;
  margin: 0;
}
.woocommerce-tabs .commentlist li {
  margin: 30px 0 0 30px;
}
.woocommerce-tabs .comment_container, .woocommerce-tabs .comment-text {
  position: relative;
}
.woocommerce-tabs .comment_container {
  padding: 10px 0 0 35px;
}
.woocommerce-tabs .comment_container .avatar {
  position: absolute;
  left: -35px;
  border-radius: 50%;
}
.woocommerce-tabs .comment-text {
  overflow: hidden;
  padding: 0 0 0 15px;
}
.woocommerce-tabs .comment-text .star-rating {
  position: absolute;
  top: 7px;
  right: 0;
}
.woocommerce-tabs .comment-text .meta strong {
  font-size: 16px;
}
.woocommerce-tabs .comment-text .meta time {
  display: block;
  font-family: "Open Sans", serif;
  font-size: 12px;
  color: #aaaaaa;
}
.woocommerce-tabs .comment-respond .comment-reply-title {
  text-align: center;
  letter-spacing: 1px;
}

.wc-tabs_style-underline .active a:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.wc-tabs_style-underline a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #00bcd4;
  content: '';
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
}
.wc-tabs_style-topline .active a:before {
  width: 100%;
  background: #00bcd4;
  transition: width .5s ease;
}
.wc-tabs_style-topline .active a:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.wc-tabs_style-topline a:before, .wc-tabs_style-topline a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 2px;
  width: 0;
}
.wc-tabs_style-topline a:before {
  left: 0;
  transition: width 0s ease, background .5s ease;
}
.wc-tabs_style-topline a:after {
  right: 0;
  transition: width .5s ease;
  background: #00bcd4;
}
@media only screen and (min-width: 768px) {
  .wc-tabs_style-triangleline {
    border-bottom: 1px solid #ddd;
  }
  .wc-tabs_style-triangleline a {
    overflow: visible !important;
  }
  .wc-tabs_style-triangleline .active a:before, .wc-tabs_style-triangleline .active a:after {
    position: absolute;
    top: 98%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none;
  }
  .wc-tabs_style-triangleline .active a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #fff;
  }
  .wc-tabs_style-triangleline .active a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: #ddd;
  }
}

/**
 * Related, upsells, cross-sells product
 */
.related,
.upsells,
.cross-sells {
  padding-top: 40px;
}
.related .products .row,
.upsells .products .row,
.cross-sells .products .row {
  margin: 0;
}

/*--------------------------------------------------------------
4. Quickview Product
--------------------------------------------------------------*/
/* -- loading bar --*/
.woocommerce.shop-navigation-infinite .woocommerce-pagination .next.loading .loading-infinite {
  opacity: 1;
}

.woocommerce.shop-navigation-infinite .woocommerce-pagination .next.loading .button .button-text {
  opacity: 0;
}

.loading-infinite {
  opacity: 0;
  left: 0;
  top: 14px;
  width: 100%;
  padding: 0 30px;
}

.loading-popup {
  z-index: 999;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -45px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.loading-popup, .loading-infinite {
  position: absolute;
}
.loading-popup i, .loading-infinite i {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loadingFade 1.5s infinite;
  -moz-animation: loadingFade 1.5s infinite;
  animation: loadingFade 1.5s infinite;
}
.loading-popup i:nth-child(0), .loading-infinite i:nth-child(0) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-popup i:nth-child(1), .loading-infinite i:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-popup i:nth-child(2), .loading-infinite i:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading-popup i:nth-child(3), .loading-infinite i:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading-popup i:nth-child(4), .loading-infinite i:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body::after {
  /* dark overlay layer - visible when we fire .cd-quick-view */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  content: "";
  z-index: 999;
}
@media only screen and (min-width: 992px) {
  body.overlay-layer::after {
    visibility: visible;
    opacity: 1;
  }
}

.cd-quick-view {
  /* quick view non available on small devices */
  display: none;
}
@media only screen and (min-width: 992px) {
  .cd-quick-view {
    display: block;
    position: fixed;
    max-width: 960px;
    visibility: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: left, top, width;
    z-index: 1000;
  }
  .cd-quick-view:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-quick-view.is-visible {
    /* class added when user clicks on .cd-trigger */
    visibility: visible;
  }
  .cd-quick-view.animate-width {
    /* class added at the end of the first zoom-in animation */
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
}
.cd-quick-view .cd-slider-wrapper .selected-image {
  width: 100%;
}
.cd-quick-view .cd-slider-wrapper .selected-image img {
  width: 100%;
  height: 100%;
}
.cd-quick-view.add-content .cd-slider-wrapper .selected-image {
  opacity: 0;
}

.cd-slider-wrapper {
  position: relative;
  display: block;
  float: left;
  width: 480px;
  overflow: hidden;
  max-width: 100%;
}

.cd-slider-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-slider-wrapper .product-image-col {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cd-item-info {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility 0s;
  -moz-transition: opacity .3s, visibility 0s;
  transition: opacity .3s, visibility 0s;
  max-width: 480px;
  margin: 0;
  float: left;
}
.cd-item-info .product-summary-col {
  padding: 30px;
}

.cd-item-info .cd-item-action li {
  display: inline-block;
  margin-right: 1em;
}

.cd-item-info .cd-item-action li:first-child {
  margin-left: -4px;
}

.cd-item-info .add-to-cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0.25em;
  border: none;
  padding: .6em 1.2em;
  background-color: #f82f53;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
}

.add-content .cd-item-info {
  /* class added at the end of the width animation, used to show the content */
  position: relative;
  visibility: visible;
  opacity: 1;
}

.add-content .cd-item-info h1 {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}

.add-content .cd-item-info .woocommerce-product-rating {
  -webkit-animation: cd-slide-in 0.35s;
  -moz-animation: cd-slide-in 0.35s;
  animation: cd-slide-in 0.35s;
}

.add-content .cd-item-info p {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}

.add-content .cd-item-info form.cart {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
    -o-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.cd-close {
  position: absolute;
  top: 15px;
  right: -20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 50%;
  background: #fff;
  visibility: hidden;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
  transition: transform .3s 0s, visibility 0s .3s;
}

.cd-close::before, .cd-close::after {
  content: "";
  /* close icon in css */
  position: absolute;
  top: 20px;
  left: 10px;
  display: inline-block;
  height: 2px;
  width: 20px;
  background: #555;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-close::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.no-touch .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.add-content .cd-close {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
  transition: transform .3s 0s, visibility 0s 0s;
}

/*--------------------------------------------------------------
5. My Account
--------------------------------------------------------------*/
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  margin: 0;
  list-style: none;
  text-align: center;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
  display: inline-block;
  padding: 0 15px;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  display: inline-block;
  line-height: 38px;
  border-top: 2px solid transparent;
  color: #555;
  font-weight: 600;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  border-top-color: #00bcd4;
  color: #00bcd4;
}
.woocommerce-account .woocommerce-MyAccount-content {
  padding: 40px 0 20px;
}

/*--------------------------------------------------------------
6. Cart
--------------------------------------------------------------*/
.widget_shopping_cart_content .mini-cart-checkout {
  padding: 15px 15px 0;
}
.widget_shopping_cart_content .mini-cart-checkout .checkout {
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

.woocommerce-cart td, .woocommerce-checkout-review-order-table td {
  padding: 12px 15px !important;
  vertical-align: middle !important;
  border-color: #E5E5E5 !important;
}

.cart .product-thumbnail a {
  display: block;
  width: 68px;
}
.cart .product-thumbnail img {
  display: block;
  width: 64px;
  height: 64px;
  border: 2px solid #EEE;
}

#shipping_method {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

/*--------------------------------------------------------------
7. Checkout
--------------------------------------------------------------*/
.woocommerce form .form-row .required {
  border: 0;
}
.woocommerce form .form-row.woocommerce-invalid .required {
  color: #c13d30;
}

.woocommerce-checkout-payment .payment_methods {
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.woocommerce-checkout-review-order #shipping_method {
  margin: 0;
}

.coupon .input-text {
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
8. Responsive Shop
--------------------------------------------------------------*/
/**
 * 
 * 8.1 max-width 1199px
 * 8.2 min-width 992px and max-width 1199px
 * 8.3 max-width 991px
 * 8.4 min-width 768px and max-width 991px
 * 8.5 max-width 767px
 * 8.6 min-width 480px and max-width 767px
 * 8.7 max-width 479px
 * 
 */
@media only screen and (max-width: 1199px) {
  .woocommerce .entry-thumbnails, .woocommerce .product-empty-col {
    display: none;
  }
  .woocommerce .product-image-col, .woocommerce .product-summary-col {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
  .woocommerce .entry-summary,
  .woocommerce .product-type-variable .entry-summary {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .products .product[class*=col-] {
    clear: both;
  }
  .products .product:nth-child(2n) {
    float: right;
    clear: none;
  }
}
@media only screen and (max-width: 767px) {
  .product_meta {
    text-align: left;
  }
  .product_meta .sku_wrapper, .product_meta .posted_in, .product_meta .tagged_as {
    display: block;
    margin: 0;
    line-height: 2;
  }
}
